.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    max-width: 70%;
    border: #ccc;
    
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: #ccc;
    box-shadow: #500427;
    
  }
  .heading{
    vertical-align:middle;
    text-align:center;
    font-family: "Times New Roman", Times, serif;
    font-size: 40px;
  }