
<div class="container">
    <div class="heading"><h1>Login Form</h1></div>
     <!-- #userForm="ngForm"[disabled]="!userForm.valid "  -->
    <form action= "/action_page.php" #userform="ngForm">
        <!-- <label for="id">ID:</label>
        <input type="number" [(ngModel)]="employee.id" name="id" id="id">
        <br> -->
        <!-- <div class="row">
            <div class="col-25">

            </div>
            <div class="col-75">

            </div>
        </div> -->
        <div class="row">
            <div class="col-25">
                <label for="name">Name:</label>
            </div>
            <div class="col-75">
                <input type="text" [(ngModel)]= "wallet.name" #nameRef="ngModel" name="ename" id="ename" pattern="[A-Za-z ]{3,}"
                title="Only chars are allowed,Min 3 char required" required>
                <div *ngIf="nameRef.invalid && (nameRef.touched || nameRef.dirty)">
                    <p *ngIf="nameRef.errors?.['required']" class="text-danger">Name is required, cant be balnk.</p>
                    <p *ngIf="nameRef.errors?.['pattern']" class="text-danger">Name must have at least 3 chars, only chars are allowed.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-25">
                <label for="amountid ">Password:</label>
            </div>
            <div class="col-75">
                <input type="password" [(ngModel)]="wallet.password " #passwordRef="ngModel" name="wpassword " id="wpassword " required pattern="[a-zA-Z0-9]{8,}">
                <div *ngIf="passwordRef.invalid && (passwordRef.touched|| passwordRef.dirty)">
                    <p *ngIf="passwordRef.errors?.['required'] " class="text-danger">Password is required</p>
                    <p *ngIf=" passwordRef.errors?.[ 'pattern'] " class="text-danger">Password must be atleast 8 charaters</p>
                </div>
            </div>
        </div>
        <br><br>
        <div class="row" style="text-align:center">
            <input type="submit" (click)="displayUserForm() " value="Submit ">

            
        </div>
  
           </form>
  </div> 
